@font-face {
    font-family:idroid;
    src: url(fontes/idroid.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

p{
    padding: 20px;
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
}

.cabecalho{
    padding: 5px;
    background: linear-gradient(to bottom, #2fa866,#063d1e);
    min-height: 150px;
    padding-top: 40px;
    display: block;
}

.cabecalho-titulo-principal{
    font-size: 46px;
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-shadow: 1px 2px 1px rgb(73, 73, 73);
}
.cabecalho-paragrafo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

.navegacao-de-pagina > a{
    color: #83b398;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

strong{
    color:#1A5C37;
}
.navegacao:hover{
    background-color:#2fa866;
    color: black;
    border: 4px solid #2fa866;
    border-radius: 4px;
    padding: 4px;
}
div#ancora{
    background-color:#063d1e;
    padding: 10px;
}
body{
    background-color:#EBE5C5 ;
}


.historia-subtitulo {
    font-family: 'idroid', sans-serif;
    color: #063D1E;
}
.historia-paragrafo{
    font-family: Arial, Helvetica, sans-serif
}
.historia-subsubtitulo
{
    font-family: 'idroid', sans-serif;
    color: #063D1E;
    margin: 10px 10px 10px;
    background: linear-gradient(to right, #84E1AE, white);
}

#desenvolvedor{
    font-family: 'Arial', sans-serif;
    color: #063D1E;
    background: #83E1AD;
    font-weight: bold;
    text-decoration: none;
}
#desenvolvedor:hover{
    text-decoration: underline;
    color: #2e503d;
    background: #8fe0b4;
}

.video-flex{
    border: 20px solid #063D1E;
    border-right: 40px solid #063D1E;
    border-bottom: 20px solid #063D1E;
    border-left: 40px solid #063D1E;
    margin: 0px;
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 0px; 
    height: 0; 
    overflow: hidden;
}
.video-flex > iframe{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.imagem-bugdroid{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho-subsubtitulo{
    background-color: #1A5C37;
    margin: 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 7px solid #1A5C37;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-bottom: 0px;
}

.historia-subparagrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 0px;
    background-color: #83E1AD;
    margin-top: 0px;
    margin-right: 37.44px;
    margin-bottom: 0px;
    margin-left: 37.44px;
    border: 7px solid #83E1AD;
}

aside > ul{
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

.desenvolvedorwhite{
    font-family: 'Arial', sans-serif;
    color: #1A5C37;
    font-weight: bold;
    text-decoration: none;   
}

.final{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #063D1E;
    margin-top: 10px;
    margin-bottom: 0px;
    border-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.finalzinho{
    font-weight: bold;
    color: white;
    text-decoration: none;
}